*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


/* Black ops one font */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
/* font-family: "Black Ops One", system-ui; */
body{
    font-family: "Black Ops One", sans-serif;
}

body{
    /* Fondo de color */
    background-color: #61605F;
}

    h1{
    font-weight: 500;
    font-size: 2.5rem;
    color:#0a0a0a;
    padding: 20px 10px;
    }

    p{
    font-weight: 300;
    font-size: 1.5rem;
    color:#fc1d04;
    padding: 20px 10px;
    }  


/* Encabezado */
header{
    /* Fondo de color */
    background-color: #FF3C27;
    /* Color del texto */
    color: #0a0a0a;
}


/* Navbar */
nav{
    font-size: 1rem;
    background-color: #0a0a0a;
    Display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    gap:10px;
}


a{
color:#f5f4f0;
/* Decoracion de texto: subrayado */
text-decoration: none;
}

ul{
    /* bullets de lista */
    list-style: none;
    padding: 20px;
    border-bottom: 2px solid #FF3C27;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    gap: 20px;
}
section figure img {
    background-color:#FF3C27;
    margin-bottom: 10px solid #0a0a0a;
}

figcaption{
    color:#f5f4f0;
    margin-bottom: 10px solid #0a0a0a;
}


/* Contenido principal */

main{
    color: #f5f4f0;
}
main p.p-naranja{
    color: #FF3C27;
}
 
main p.p-claro{
    color: #f5f4f0;
}

h2{
    font-weight: 400;
    font-size: 2rem;
    color:#0a0a0a;
    padding: 20px 10px;
        
}
section article p a{
                color:#FF3C27;
                margin-bottom: 10px 
            }

figcaption{
    color: #f5f4f0;
    padding: 5px
}

h3{
    font-weight: 300;
    font-size: 1.5rem;
    color:#FF3C27;
    padding: 10px 10px;
    
}
    p{
    font-weight: 100;
    font-size: 1rem;
    color: #f5f4f0;
    padding: 5px 5px;
    }
    
p a
    {
    color:#f5f4f0;
    }
    

/* Pie de página */
h6{
    font-weight: 100;
    font-size: 0.8rem;
    color: #0a0a0a;
    padding: 5px 5px;
    }
footer p{
        font-weight: 100;
        font-size: 1rem;
        color: #f5f4f0;
        padding: 5px 5px;
        }

footer p a{
            color: #FF3C27;
            padding: 5px 5px;
        }
    


