/* Black ops one font */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
/* font-family: "Black Ops One", system-ui; */
body{
    font-family: "Black Ops One", sans-serif;
}

body{
    /* Fondo de color */
    background-color: #61605F;
}

    h1{
    font-weight: 500;
    font-size: 2.5rem;
    color:#0a0a0a;
    }

    p{
    font-weight: 300;
    font-size: 1.5rem;
    color:#FF3C27
    }  


/* Encabezado */
header{
    /* Fondo de color */
    background-color: #FF3C27;
    /* Color del texto */
    color: #0a0a0a;
}

nav{
    font-size: 1rem;
    background-color: #0a0a0a;
}

a{
color:#f5f4f0;
/* Decoracion de texto: subrayado */
text-decoration: none;
}

ul{
    /* bullets de lista */
    list-style: none;
}

figcaption{
    color:#f5f4f0
}


/* Contenido principal */


main{
    color: #f5f4f0;
}
main p.p-naranja{
    color: #FF3C27;
}
 
main p.p-claro{
    color: #f5f4f0;
}
    h1{
        color:#0a0a0a
    }

h2{
    font-weight: 400;
    font-size: 2.5rem;
    color:#0a0a0a
}
section article p a{
                color:#FF3C27
            }

figcaption{
    color: #f5f4f0;
}

h3{
font-weight: 300;
font-size: 2rem;
    color:#FF3C27
}
    p{
    font-weight: 100;
    font-size: 1rem;
    color: #f5f4f0;
    
    }
    
p a
    {
    color:#f5f4f0
    }

/* Pie de página */
h6{
    font-weight: 100;
    font-size: 0.8rem;
    color: #0a0a0a;
    }
footer p{
        font-weight: 100;
        font-size: 1rem;
        color: #f5f4f0;
        }

footer p a{
            color: #FF3C27;
        }
    


